p,
h1,
h2 {
  padding: 0;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

form > label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.calculator-container {
  width: 600px;
  margin: 3rem auto;
  display: flex;
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
}

.output-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.output-heading {
  display: flex;
  flex-direction: column;
}

.total {
  font-size: 3rem;
  font-weight: bold;
}
